nav>ul>li {
    display: inline;
}

nav li a {
    text-decoration: none;
    margin-right: 15px;
    padding: 4px 8px;
    border: 2px solid rgb(119, 12, 207);
    background-color: aquamarine;
    border-radius: 5px;
}